/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 30, 2023, 8:02:08 PM
    Author     : lakes
*/

.data0.chart-pie { -fx-pie-color: grey; }
.data1.chart-pie { -fx-pie-color: red; }
.data2.chart-pie { -fx-pie-color: blue; }
.data3.chart-pie { -fx-pie-color: green; }
.data4.chart-pie { -fx-pie-color: white; }
.data5.chart-pie { -fx-pie-color: black; }

.chart {
   -fx-background-color: lightgrey;
}
.chart {
  -fx-text-fill: #4682b4;
  -fx-font-size: 2em;
}